extends layout

block content
  h1=title

  h3 Currently Playing

  ul
    each game in games
      li
        a(href='game/'+game.id) #{game.properties['Name'].title[0].plain_text}
      br
