extends layout

block content
  h1=title
  p This is mostly just a space to mess around with APIs and try out some backend stuff
  p None of this is gonna look particularly pretty, I'm more just demonstrating functionality of pulling and displaying data
