extends layout

block content
  h1=title

  ul
    - for (i=0; i<50; i++)
      li
        p #[strong #{items[i].title} - #{moment(items[i].isoDate).format('MMMM Do YYYY, h:mm A')}]
          ul
            li #{items[i].contentSnippet}
