extends layout

block content
  h1=title

  ul
    each item in items
      li
        p #[strong #{item.title} - #{moment(item.isoDate).format('MMMM Do YYYY, h:mm A')}]
          ul
            li #{item.contentSnippet}
