extends layout

block content
  h1=title

  ul
    each movie in movies
        if movie.movie.year
            li
                a(href='/movie/'+movie.movie.ids.trakt) #{movie.movie.title} - #{movie.movie.year}
            br
        //- else
        //-     li
        //-         p #{movie.movie.title}
