extends layout

block content
  h1=title

  ul
    each movie in movies
        if movie.movie.year
            li
                p #{movie.movie.title} - #{movie.movie.year}
        //- else
        //-     li
        //-         p #{movie.movie.title}