extends layout

block content
  h1=title

  ul
    each show in tv
      if show.show.year
        li
          a(href='/tv/'+show.show.ids.trakt) #{show.show.title} - #{show.show.year}
        br
      else
        li
          a(href='/tv/'+show.show.ids.trakt) #{show.show.title}
        br
