extends layout

block content
  h1 #{show.title}

  if show.year
    p Year: #{show.year}
  else
    p Year: Unknown
  if show.overview
    p Overview: #{show.overview}
  else
    p Overview: Unknown
