{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Movie Watchlist{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for item in range(watchlist|length) %}
    {% for i in range(watchlist[item]["movie"]|length - 2) %}
      {% if watchlist[item]["movie"]["year"] != None %}
        <!-- Only works inside the inner for loop, so it's a loop that runs once -->
        <h3>{{ watchlist[item]["movie"]["title"] }} - {{ watchlist[item]["movie"]["year"] }}</h3>
      {% endif %}
    {% endfor %}
    {% if not loop.last and watchlist[item]["movie"]["year"] != None %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}