{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Multisearch{% endblock %}</h1>
{% endblock %}

{% block content %}
<form>   
    <input type="search" placeholder="Search for any media" id="searchBox"/>
    <button type="submit" onclick="open_tabs()">Search</button>
</form>
<script>
  function open_tabs() {
    let search_value = document.getElementById("searchBox").value;
    if (search_value != "") {
      window.open('https://letterboxd.com/search/'+search_value);
      window.open('https://trakt.tv/search?query='+search_value);
      window.open('https://myanimelist.net/search/all?q='+search_value);
      window.open('https://mydramalist.com/search?q='+search_value);
    }
  }
</script>
{% endblock %}