{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Stats{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h3>Media Progress</h3>
    <label>Movie Progress:</label>
    <progress value={{ (trakt_stats['movies']['watched'] / (movies_shows_lengths['movies'] + trakt_stats['movies']['watched']) * 100) | round | int }} max="100"></progress>
    {{ trakt_stats['movies']['watched'] }} / {{ movies_shows_lengths['movies'] + trakt_stats['movies']['watched'] }}
    <br>
    <label>Shows Progress:</label>
    <progress value={{ (trakt_stats['shows']['watched'] / (movies_shows_lengths['shows'] + trakt_stats['shows']['watched']) * 100) | round | int }} max="100"></progress>
    {{ trakt_stats['shows']['watched'] }} / {{ movies_shows_lengths['shows'] + trakt_stats['shows']['watched'] }}
    <br>
    <label>Anime Progress:</label>
    <progress value={{ (mal_lengths['completed'] / (mal_lengths['plan_to_watch'] + mal_lengths['completed']) * 100) | round | int }} max="100"></progress>
    {{ mal_lengths['completed'] }} / {{ mal_lengths['plan_to_watch'] + mal_lengths['completed'] }}
{% endblock %}