{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}TV Watchlist{% endblock %}</h1>
{% endblock %}

{% block content %}
  <ul>
  {% for item in range(watchlist|length) %}
    {% for i in range(watchlist[item]["show"]|length - 2) %}
      {% if watchlist[item]["show"]["year"] != None %}
        <!-- Only works inside the inner for loop, so it's a loop that runs once -->
        <li>{{ watchlist[item]["show"]["title"] }} - {{ watchlist[item]["show"]["year"] }}</li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
{% endblock %}